Rooms list
<!-- {{roomlist}} -->
<table class="table">
    <tr>
        <th>Index</th>
        <th>EVEN / ODD</th>
        <th>Room Type</th>
        <th>Room Number</th>
        <th>Room Price</th>
        <th>Room Quality</th>
        <th>Room Free Time</th>
        <th>Room Rating</th>
    </tr>
    <tr [ngClass]="e? 'even' : 'odd'" *ngFor="let room of rooms | slice : 0:3; let e = even; let o = odd; let i = index">
        <td>{{i+1 | percent}}</td>
        <td>{{ e ? "Even" : "Odd" | lowercase}}</td>
        <td>{{ room.roomType }}</td>
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomPrice | currency : "EUR"}}</td>
        <td>{{ room.roomQuality | uppercase }}</td>
        <td>{{ room.roomFreeTime | date : 'dd/MMM/yyyy' }}</td>
        <td>{{ room.roomRating | number : '1.0-2'}}</td>
    </tr>
</table>