<!-- <p>Welcome To {{hotelName}}</p> -->
<roma-header></roma-header>
<div [hidden]="hideRooms">
Number Of Rooms:
<div [ngStyle] = "{'color' : rooms.availableRooms > 0 ? 'darkgreen' : 'red'}" [innerText]="numberOfRooms"></div>
</div>

{{ rooms?.availableRooms ?? 'No rooms' }}

<!-- {{roomlist | json}} -->

<div>
    <button class="btn btn-primary" (click)="addRoom()"> here</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
<roma-rooms-list [rooms]="roomlist" (selectedRoom)="selectRoom($event)" [title] = "title"></roma-rooms-list>
</div>

<div>{{selectedRoomType | date : 'dd / MM / yy'}}</div>

<button (click) = "funcName()">Toggle</button>